*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item img{
    padding: 10px;
 background-color:  rgb(251, 241, 101);
border-radius: 20px;
}

.shopname {
    text-align: center;
    font-style: italic;
    color: rgb(27, 23, 23);
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: white;
    
}



.container {
    display: flex;
    width: 100%;
    overflow-x: auto;
    background-color: white;
    position: relative;
    top: 37px;
    position: fixed;
    z-index: 1;
}



b{
    font-size: 0.7rem;
}

.container .item{
   padding: 20px;
   text-align: center;
}

a{
    text-decoration: none;
    color: black;
}

.img{
    height: 60px;
    width: 60px;
    border-radius: 20px;
}

.outerbox{
    background: rgb(249,236,47);
background: linear-gradient(90deg, rgb(251, 241, 101) 0%, rgba(255,255,255,1) 50%, rgba(251, 241, 101) 100%);
position: relative;
top: 180px;

   
}

.juice{
    display: grid;
    grid-template-columns: 1fr 1fr;
 
   
}

.juiceitems{
    text-align: center;
}

.juiceimg{
    border-radius: 30px;
    height: 150px;
    width: 150px;
    padding: 0.5rem;
}

strong{
    font-size: 0.9rem;
}
#milkshake{
    padding-top: 180px;
 }
 #freshlime{
    padding-top: 180px;
 }
 #spl{
    padding-top: 180px;
 }
 #chocospl{
    padding-top: 180px;
 }
 
 #icecreamshake{
    padding-top: 180px;
 }
 
 #soda{
    padding-top: 180px;
 }
 
 #hotdrinks{
    padding-top: 180px;
 }
 
 #icecream{
    padding-top: 180px;
 }
 
 #falodaa{
    padding-top: 180px;
 }
 
 #lassi{
    padding-top: 180px;
 }
 #healthy{
    padding-top: 180px;
 }
 
 #cold{
    padding-top: 180px;
 }
 
 #mojito{
    padding-top: 180px;
 }
 
 #specialfry{
    padding-top: 180px;
 }
 
 #sandwich{
    padding-top: 180px;
 }
 
 #burger{
    padding-top: 180px;
 }
 #maggie{
    padding-top: 180px;
 }
 #breadomlete{
    padding-top: 180px;
 }
 #vegsnacks{
    padding-top: 180px;
 }
 .end{
   position: relative;
   top: 25px;
   display: flex;
   justify-content: center;
 
 }
 
 
 